*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Thambi 2', cursive;
}

html,body{height: 100%;}

.clear {clear: both;}

.box-success {
    width: 500px;
    height: 30px;
    margin: 0 auto;
    border-radius: 2px;
    text-align: center;
    background: rgb(44, 182, 67);
    color: white;
    font-size: 18px;
}

.box-error {
    width: 500px;
    height: 30px;
    margin: 0 auto;
    border-radius: 2px;
    text-align: center;
    background: rgb(151, 39, 48);
    color: white;
    font-size: 18px;
}

.cont {
  background: #2a2a3d;
  height: auto;
  padding: 30px;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 5%;
}

header {
    width: 100%;
  
    background-color: #431d85;
}

header .logo {
    font-size: 30px;
    color: white;
    position: relative;
    top: 10px;
}

header ul {
    float: right;
    position: relative;
    top: -28px;
    list-style-type: none;
}

header li {
    display: inline-block;
    margin-left: 40px;
}

header a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

header a:hover{text-decoration: underline;}

/* REGISTER PRODUCT */

.container-register {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-txt {
    padding: 5px 0;
    width: 90%;
    margin: 0 auto;
    border-bottom: 2px solid rgb(51, 50, 51);
}

.box-form {
    margin-top: 30px;
    background: white;
    width: 100%;
    height: auto;
    padding: 20px 0;
    border-radius: 15px;
}

.box-form h2 {
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
}

form {
    width: 100%;
    margin-top: 30px;
}

.form-g input[type=text],
.form-g input[type=number],
.form-g input[type=file]{
    margin-bottom: 10px;
    padding: 0 1%;
    width: 100%;
    height: 30px;
}

.form-g label {font-size: 18px;}

form input[type=submit] {
    width: 100px;
    height: 35px;
    background: #431d85;
    border: 0;
    color: white;
    font-size: 16px;
}

form input[type=submit]:hover { 
    transition: 1s;
    background: #6032af;
}

/* VIEW */

.view {
    width: 100%;
    height: 100%;
    padding: 10px 0;
    background: white;
    position: relative;
    top: 20px;
    border-radius: 10px 10px 0 0;
}

.search {
    text-align: center;
    font-size: 18px;
}

.line {
    width: 60%;
    height: 2px;
    margin: 20px auto;
    background: black;
}

.search input[type=text] {
    width: 80%;
    max-width: 400px;
    height: 30px;
    margin-top: 10px;
    padding: 0 1%;
}

.item-single {
    border: 1px solid #ccc;
    flex: 1;
    padding-bottom: 10px;
    margin: 5px;
}

.flex {
    flex-wrap: wrap;
}

.item-single img {
    width: 100%;
    height: 100%;
    max-height: 200px;
}


.item-single-txt p {
    padding: 0 2%;
    font-size: 19px;
    margin-top: 5px;
}

.btn{padding: 0 2%;}

.btn input[type=number] {
    padding: 0 1%;
    height: 30px;
}

.btn input[type=submit] {
    width: 90px;
    border: 0;
    background: #6032af;
    color: white;
    padding: 5px;
    margin-left: 10px;
}

.btn input[type=submit]:hover {
    transition: 1s;
    background: #431d85;
}

.bt {
    width: 150px;
    height: 30px;
    text-decoration: none;
    color: white;
    margin: 10px 0;
    padding: 5px 5px;
    text-decoration: none;
}

.delete {
    background: rgb(150, 49, 49);
}

.edit {
    background: rgb(218, 166, 23);
}

.containers {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow-y: scroll;
    height: auto;
	border: 1px solid #ccc;
}

.item {
    margin: 0 auto;
    max-width: 300px;
    flex-basis: 300px;
}

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
    header .logo {
        width: 100%;
        text-align: center;
    }
    header ul {
        margin-top: 50px;
        width: 100%;
        text-align: center;
    }

    header li {
        display: block;
    }
}


